-- 此脚本作为平台预制数据参考使用。
-- 严禁将此脚本直接或修改后在数据库中执行,如由上述行为引发问题,概不支持。

CREATE TABLE [IUAPD_ALLOWANCES](
	[ID] [varchar](64) NOT NULL,
	[CODE] [varchar](64) NULL,
	[NAME] [varchar](64) NULL,
	[NAME2] [varchar](64) default ' ',
	[NAME3] [varchar](64) default ' ',
	[NAME4] [varchar](64) default ' ',
	[NAME5] [varchar](64) default ' ',
	[NAME6] [varchar](64) default ' ',
	[SEX] [int] NULL,
	[DEPT] [varchar](64) NULL,
	[POST_LEVEL] [varchar](64) NULL,
	[SERVICE_YEARS] [decimal](10, 0) NULL,
	[SERVICE_YEARS_COMPANY] [decimal](10, 0) NULL,
	[YEAR] [varchar](64) NULL,
	[MONTH] [decimal](2, 0) NULL,
	[ALLOWANCE_TYPE] [decimal](10, 0) NULL,
	[ALLOWANCE_STANDARD] [decimal](10, 2) NULL,
	[ALLOWANCE_ACTUAL] [decimal](10, 2) NULL,
	[EXDEEDS] [int] NULL,
	[APPLY_TIME] [varchar](64) NULL,
	[PICK_TYPE] [int] NULL,
	[PICK_TIME] [varchar](64) NULL,
	[REMARK] [varchar](200) NULL,
	[CREATE_TIME] [varchar](64) NULL,
	[CREATE_USER] [varchar](64) NULL,
	[LAST_MODIFIED] [varchar](64) NULL,
	[LAST_MODIFY_USER] [varchar](64) NULL,
	[TS] [varchar](64) NULL,
	[DR] [decimal](11, 0) NULL,
	[BPM_STATE] [decimal](11, 0) NULL,
	[TENANT_ID] [varchar](64) NULL
) ON [PRIMARY]
GO
CREATE TABLE [IUAPD_EMERGENCY_CONTACT](
	[ID] [varchar](64) NOT NULL,
	[PASSENGER_ID] [varchar](64) NULL,
	[CONTACT_NAME] [varchar](32) NULL,
	[CONTACT_NAME2] [varchar](32) default ' ',
	[CONTACT_NAME3] [varchar](32) default ' ',
	[CONTACT_NAME4] [varchar](32) default ' ',
	[CONTACT_NAME5] [varchar](32) default ' ',
	[CONTACT_NAME6] [varchar](32) default ' ',
	[CONTACT_PHONE] [varchar](32) NULL,
	[CONTACT_RELATION] [varchar](64) NULL,
	[REMARK] [varchar](255) NULL,
	[CREATE_TIME] [varchar](64) NULL,
	[CREATE_USER] [varchar](64) NULL,
	[LAST_MODIFIED] [varchar](64) NULL,
	[LAST_MODIFY_USER] [varchar](64) NULL,
	[TS] [varchar](64) NULL,
	[DR] [decimal](11, 0) NULL,
	[BPM_STATE] [decimal](11, 0) NULL,
	[TENANT_ID] [varchar](64) NULL
) ON [PRIMARY]
GO
CREATE TABLE [IUAPD_GRID_TEMP](
	[ID] [varchar](64) NOT NULL,
	[MODEL_CODE] [varchar](255) NULL,
	[MODEL_NAME] [varchar](255) NULL,
	[MODEL_TYPE] [varchar](255) NULL,
	[MODEL_CONTENT] [varchar](max) NULL,
	[CREATE_TIME] [varchar](64) NULL,
	[CREATE_USER] [varchar](64) NULL,
	[LAST_MODIFIED] [varchar](64) NULL,
	[LAST_MODIFY_USER] [varchar](64) NULL,
	[TS] [varchar](64) NULL,
	[DR] [decimal](11, 0) NULL,
	[BPM_STATE] [decimal](11, 0) NULL,
	[TENANT_ID] [varchar](64) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
CREATE TABLE [IUAPD_PASSENGER](
	[ID] [varchar](64) NOT NULL,
	[CODE] [varchar](64) NOT NULL,
	[NAME] [varchar](64) NULL,
	[NAME2] [varchar](64) NULL,
	[NAME3] [varchar](64) NULL,
	[NAME4] [varchar](64) NULL,
	[NAME5] [varchar](64) NULL,
	[NAME6] [varchar](64) NULL,
	[SEX] [decimal](1, 0) NULL,
	[DEPT] [varchar](64) NULL,
	[PHONE] [varchar](30) NULL,
	[IS_VIP] [decimal](1, 0) NULL,
	[GRADE] [decimal](1, 0) NULL,
	[EXPIRATION_DATE] [varchar](255) NULL,
	[CREATE_TIME] [varchar](64) NULL,
	[CREATE_USER] [varchar](64) NULL,
	[LAST_MODIFIED] [varchar](64) NULL,
	[LAST_MODIFY_USER] [varchar](64) NULL,
	[TS] [varchar](64) NULL,
	[DR] [decimal](11, 0) NULL,
	[BPM_STATE] [decimal](11, 0) NULL,
	[TENANT_ID] [varchar](64) NULL
) ON [PRIMARY]
GO
CREATE TABLE [IUAPD_PURCHASE_ORDER](
	[ID] [varchar](64) NOT NULL,
	[ORDER_CODE] [varchar](64) NULL,
	[ORDER_NAME] [varchar](64) NULL,
	[ORDER_NAME2] [varchar](64) default ' ',
	[ORDER_NAME3] [varchar](64) default ' ',
	[ORDER_NAME4] [varchar](64) default ' ',
	[ORDER_NAME5] [varchar](64) default ' ',
	[ORDER_NAME6] [varchar](64) default ' ',
	[ORDER_TYPE] [int] NULL,
	[ORDER_PRICE] [decimal](10, 0) NULL,
	[ORDER_USER] [varchar](64) NULL,
	[ORDER_DEPT] [varchar](64) NULL,
	[ORDER_DATE] [varchar](64) NULL,
	[CREATE_TIME] [varchar](64) NULL,
	[CREATE_USER] [varchar](64) NULL,
	[LAST_MODIFIED] [varchar](64) NULL,
	[LAST_MODIFY_USER] [varchar](64) NULL,
	[TS] [varchar](64) NULL,
	[DR] [decimal](11, 0) NULL,
	[BPM_STATE] [decimal](11, 0) NULL,
	[TENANT_ID] [varchar](64) NULL
) ON [PRIMARY]
GO
CREATE TABLE [IUAPD_PURCHASE_ORDER_DETAIL](
	[ID] [varchar](64) NOT NULL,
	[ORDER_ID] [varchar](64) NULL,
	[DETAIL_NAME] [varchar](64) NULL,
	[DETAIL_MODEL] [varchar](64) NULL,
	[DETAIL_COUNT] [int] NULL,
	[DETAIL_DATE] [varchar](64) NULL,
	[CREATE_TIME] [varchar](64) NULL,
	[CREATE_USER] [varchar](64) NULL,
	[LAST_MODIFIED] [varchar](64) NULL,
	[LAST_MODIFY_USER] [varchar](64) NULL,
	[TS] [varchar](64) NULL,
	[DR] [decimal](11, 0) NULL,
	[BPM_STATE] [decimal](11, 0) NULL,
	[TENANT_ID] [varchar](64) NULL
) ON [PRIMARY]
GO
CREATE TABLE [IUAPD_RANKS](
	[ID] [varchar](64) NOT NULL,
	[CODE] [varchar](255) NULL,
	[TYPE] [varchar](255) NULL,
	[TYPE2] [varchar](255) NULL,
	[TYPE3] [varchar](255) NULL,
	[TYPE4] [varchar](255) NULL,
	[TYPE5] [varchar](255) NULL,
	[TYPE6] [varchar](255) NULL,
	[GRADE] [decimal](2, 0) NULL,
	[POST_LEVEL] [varchar](255) NULL,
	[POST_LEVEL2] [varchar](255) NULL,
	[POST_LEVEL3] [varchar](255) NULL,
	[POST_LEVEL4] [varchar](255) NULL,
	[POST_LEVEL5] [varchar](255) NULL,
	[POST_LEVEL6] [varchar](255) NULL,
	[CREATE_TIME] [varchar](64) NULL,
	[CREATE_USER] [varchar](64) NULL,
	[LAST_MODIFIED] [varchar](64) NULL,
	[LAST_MODIFY_USER] [varchar](64) NULL,
	[TS] [varchar](64) NULL,
	[DR] [decimal](11, 0) NULL,
	[BPM_STATE] [decimal](11, 0) NULL,
	[TENANT_ID] [varchar](64) NULL
) ON [PRIMARY]
GO
CREATE TABLE [IUAPD_TRAVELING_INFORMATION](
	[ID] [varchar](64) NOT NULL,
	[PASSENGER_ID] [varchar](64) NULL,
	[LINE] [varchar](64) NULL,
	[STATION_BEGIN] [varchar](64) NULL,
	[STATION_END] [varchar](64) NULL,
	[COST] [decimal](10, 2) NULL,
	[PAY_STATUS] [decimal](1, 0) NULL,
	[REMARK] [varchar](255) NULL,
	[CREATE_TIME] [varchar](64) NULL,
	[CREATE_USER] [varchar](64) NULL,
	[LAST_MODIFIED] [varchar](64) NULL,
	[LAST_MODIFY_USER] [varchar](64) NULL,
	[TS] [varchar](64) NULL,
	[DR] [decimal](11, 0) NULL,
	[BPM_STATE] [decimal](11, 0) NULL,
	[TENANT_ID] [varchar](64) NULL,
	[TRAVEL_TIME] [varchar](64) NULL
) ON [PRIMARY]
GO
CREATE TABLE [IUAPD_TREELIST](
	[ID] [varchar](64) NOT NULL,
	[NAME] [varchar](64) NULL,
	[NAME2] [varchar](64) default ' ',
	[NAME3] [varchar](64) default ' ',
	[NAME4] [varchar](64) default ' ',
	[NAME5] [varchar](64) default ' ',
	[NAME6] [varchar](64) default ' ',
	[IS_SON] [decimal](1, 0) NULL,
	[PARENTID] [varchar](64) NULL,
	[CREATE_TIME] [varchar](64) NULL,
	[CREATE_USER] [varchar](64) NULL,
	[LAST_MODIFIED] [varchar](64) NULL,
	[LAST_MODIFY_USER] [varchar](64) NULL,
	[TS] [varchar](64) NULL,
	[DR] [decimal](11, 0) NULL,
	[BPM_STATE] [decimal](11, 0) NULL,
	[TENANT_ID] [varchar](64) NULL,
	[CODE] [varchar](255) NULL
) ON [PRIMARY]
GO
CREATE TABLE [IUAPD_TREELIST_DETAIL](
	[ID] [varchar](64) NOT NULL,
	[CODE] [varchar](64) NULL,
	[NAME] [varchar](64) NULL,
	[NAME2] [varchar](64) default ' ',
	[NAME3] [varchar](64) default ' ',
	[NAME4] [varchar](64) default ' ',
	[NAME5] [varchar](64) default ' ',
	[NAME6] [varchar](64) default ' ',
	[AGE] [int] NULL,
	[SEX] [int] NULL,
	[TREE_ID] [varchar](64) NULL,
	[CREATE_TIME] [varchar](64) NULL,
	[CREATE_USER] [varchar](64) NULL,
	[LAST_MODIFIED] [varchar](64) NULL,
	[LAST_MODIFY_USER] [varchar](64) NULL,
	[TS] [varchar](64) NULL,
	[DR] [decimal](11, 0) NULL,
	[BPM_STATE] [decimal](11, 0) NULL,
	[TENANT_ID] [varchar](64) NULL
) ON [PRIMARY]
GO